<% provide(:title, 'コメント') %>
<div class = "comment-wrapper border-top mb-10">
<% if @comment.blank? %>
<h3>コメントはまだありません</h3>
<% else %>
 <div class = "comments" >
<% @micropost.comments.each do |comment| %>
<%= link_to gravatar_for(comment.user, size: 50), comment.user %>
<div class = "user"><%= link_to comment.user.nickname, comment.user %></div>
 <div class = "text">
 <%= comment.content %>
</div>
<span class = "timestamp">
<%= time_ago_in_words(comment.created_at) %>前
</span>
 <% if @micropost.commented_by?(current_user) %>
  <%= link_to "消す", micropost_comment_path(micropost_id: @micropost,id: comment.id), method: :delete, data:{ confirm: "You sure?" } %>
  
 <% end %>
</div>
 <% end %>
 </div>
<% end %>
 <%= form_with(model: [@micropost, @comment], remote: true) do |f| %>
 <%= render 'shared/error_messages', object: f.object %>
 <div class="field">
 <%= f.text_area :content, placeholder: "コメントを入力して下さい",class: "form-control", rows: 5 %>
 </div>
 <%= f.submit "コメントする", class: "btn btn-primary" %>
 <% end %>
 </div>