<% provide(:title, "") %>

<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
 <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
 <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>