<% provide(:title, 'Log in') %>
<h2>ログインページ</h2>

<%= form_for(:session, url: login_path,local: true) do |form| %>

  <div class="field">
    <%= form.label :'メールアドレス' %><br />
    <%= form.email_field :email, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :'パスワード' %><br />
    <%= form.password_field :password,class:'form-control' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= form.check_box :remember_me %>
      <%= form.label :'パスワードを保存する' %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "ログイン" ,class:'btn btn-primary form-control'%>
  </div>
<% end %>
<ol>
<li><%= link_to "サインイン",signup_path %></li>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <li><%= link_to "パスワードを忘れましたか？", new_user_password_path(resource_name) %><br /></li>
<% end %>
<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <li><%= link_to "メールが届かない方へ", new_unlock_path(resource_name) %><br /></li>
<% end %>
</ol>