<% provide(:title, "いいね一覧") %>

<h3 class ="like">いいね一覧ページ</h3>

<% @user.liked_posts.each do |micropost| %>
<div class="feed">
  <ol class="micropost">
    <span class="user">
      <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
      <%= link_to micropost.user.nickname,micropost.user %> </span>
    <span class="content">
      <%= image_tag micropost.picture.url %>
      <%= micropost.content %>
     </span>
  </ol>
</div>
<% end %>