<% provide(:title, @user.nickname) %>

<div class="container">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nickname %>
    <section class ="pr">
      <p class="introduce"><%= @user.introduce %></p>
      </h3>
      <%= link_to "いいね一覧",like_user_path %>
    </section>
      <%= render 'follow_form' if user_signed_in? %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="row">
<%= render 'shared/search' %>
</div>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
