<% if object.errors.any? %>
 
  <div id="error_explanation">
    <div class= "alert alert-danger">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: object.errors.count,
                 resource: object.class.model_name.human.downcase)
       %>
         
    </h2>
    </div>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
