<%= render 'shared/search' %>
<% if @feed_items.any? %>
 <% render "shared/search" %>
  <ol class="feed">
    <%= render @feed_items %>
  </ol>
   <%= render "likes/like", micropost: @micropost %>
  <%= will_paginate @feed_items %>
<% end %>