
<%= form_with(scope: :search, url: users_path, method: :get, local: true) do |f| %>
  <%= f.label(:content, '投稿検索') %>
  <div class="field">
   <%= text_field_tag :content, params[:content] %>
  <%= f.submit('検索') %>
  <% end %>
</div>
