<div class= "search">
  <%= form_with(scope: :search, url: users_path, method: :get, local: true) do |f| %>
  <%= f.label(:nickname, 'ユーザー検索') %>
    <div class="field">
      <%= text_field_tag :nickname, params[:nickname] %>
      <%= f.submit('検索') %>
    </div>
  <% end %>
  </div>
  </div>