<% provide(:title, "パスワード再設定") %>
<h2>新しいパスワードを入力してください</h2>
<%= form_for(resource, as: @user, url: users_password_path(@user), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "新しいパスワード" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字)</em><br />
    <% end %>
    <%= f.password_field :password,class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "確認用" %><br />
    <%= f.password_field :password_confirmation,class:'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password",class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
