<% provide(:title, "パスワード変更") %>
<h2>パスワードを忘れましたか?</h2>
  <div class ="row">
<div class ="col-md-6 col-md-offset-3">
  
<%= form_for(resource, as: resource_name , url: user_password_path(resource), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,class:'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "メールを送信する" ,class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>


