<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
    <%= link_to "INSTACLONE", root_path , id: "logo" %>
    <nav>
      <ul class ="nav navbar-nav navbar-right">
        
         <% if user_signed_in? %>
         <li><%= link_to "ホーム", root_path %></li>
         <li><%= link_to "ユーザー", users_path %></li>
         <li><%= link_to "マイページ", current_user %></li>
         <li><%= link_to 'プロフィール変更',  edit_user_registration_path(current_user) %> </li>
         <li> <%= link_to "ログアウト", logout_path,method: :delete %></li>
          <li class="divider"></li>
          </ul>
          </li>
          <% else %>
           <li><%= link_to "サインイン",signup_path %></li>
           <li><%= link_to "ログイン",login_path %></li>
           <% end %>
      </ul>
     </nav>
  </div>
</header>