<!DOCTYPE html>

<html>
  <head>
    <title><%= full_title(yield(:title)) %> | INSTACLONE</title>
    
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
    <%= render 'layouts/notifications' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params)if Rails.env.development? %>
    </div>
  </body>
</html>
