<% provide(:title, 'Profile change') %>

  <h2> プロフィール編集ページ</h2>
  <div class ="row">
<div class ="col-md-6 col-md-offset-3">
  
  <%= form_for(@user) do |f| %>
    <%= render "devise/shared/error_messages", object: f.object %>
  <div class="gravatat_edit">
    <%= gravatar_for @user %>
    <%= link_to "プロフィール写真を変更", "http://gravatar.com/emails" %>
  </div>
   <div class="field">
    <%= f.label :ユーザーネーム %>
    <%= f.text_field :nickname, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :アドレス %>
    <%= f.email_field :email, class:'form-control' %>
  </div>
  
   <div class="field">
  <%= f.label :sex, :男 %>
  <%= f.radio_button :sex, 1 %>
  <%= f.label :sex, :女 %>
  <%= f.radio_button :sex, 2 %>
  </div>
  <div class="field">
    <%= f.label :自己紹介 %>
    <%= f.text_area :introduce, class:'form-control' %>
  </div>
 
  <div class="field">
    <%= f.label :current_password %> <i>(パスワードを変更する場合は入力してください)</i><br />
    <%= f.password_field :current_password, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :パスワード %> <i>(半角６文字)</i><br />
    <%= f.password_field :password, class: 'form-control'%>
  </div>
  <div class="field">   
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation,class:'form-control' %>
  </div>
   <%= f.submit "完了" ,class: "btn btn-primary" %>
  <% end %>

   
<div class="btm btn primary">
  <h5>アカウントを消す</h5>
<p> <%= button_to "削除", registration_path(resource_name), data: { confirm: "消してもよろしいですか？" }, method: :delete %></p>
<br />
</div>
<%= link_to "戻る", :back %>

</div>
</div>
