<% provide(:title, 'Sign up') %>

<h2>ユーザー登録</h2>

<%= form_for(@user,url: signup_path) do |f| %>
  <%= render "devise/shared/error_messages",object: f.object %>


  <div class="field">
    <%= f.label :'ユーザーネーム' %><br />
    <%= f.text_field :nickname, class:'form-control' %>
  </div>
  
  
  <div class="field">
    <%= f.label :'名前' %><br />
    <%= f.text_field :name, class:'form-control' %>
  </div>
  
  
  <div class="field">
    <%= f.label :'メールアドレス' %><br />
    <%= f.email_field :email, class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :'パスワード' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字)</em>
    <% end %><br />
    <%= f.password_field :password,class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,class:'form-control' %>
  </div>
  <svg class="bi bi-play" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 010 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z" clip-rule="evenodd"/>
</svg>
<a href=https://railstutorial.jp/chapters/updating_and_deleting_users?version=5.1#cha-updating_showing_and_deleting_users>利用規約</a>
  <div class="actions">
    <%= f.submit "登録",class:'btn btn-primary form-control' %>
  </div>
<% end %>
